@page
@model FEHWeb.Pages.CatchmentsModel
<div class="row">
    <h1 class="display-2">Catchments</h1>
    <table class="table table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th scope="col">Catchment Name</th>
                <th scope="col">Catchment Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Catchments)
            {
                <tr>
                    <td>@item.StName</td>
                    <td>@item.Catchment</td>
                    <td>
                        <a href="@Url.Page("catchmentdetails", new {catchmentId = @item.Catchment})">Amax data</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>