@page
@functions
{

    public void OnGet()
    {
        ViewData["Title"] = "FEH web app";
    }

}
    <div class="jumbotron">
        <h1 class="display-3">Welcome to the FEH web app</h1>
        <p class="lead">Implements the Flood Estimation Handbook pooling methods</p>
    </div>
